<%- include('../_layouts/adminheader') %>
<h2 class="page-title">Edit a page</h2>
<a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
<br>
<br>
<form action="/admin/pages/edit-page/<%= slug %>" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Slug</label>
        <input type="text" class="form-control" name="slug" value="<%= slug %>" placeholder="Slug">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Content</label>
        <textarea class="form-control" id="editor" name="content" cols="30" rows="10"
            placeholder="Content"><%= content %></textarea>
    </div>
    <input type="hidden" name="id" value="<%= id %>">
    <button class="btn btn-primary">Submit</button>
</form>

<%- include('../_layouts/adminfooter') %>