<%- include('./_layouts/header') %>

<body class="sub_page">

    <div class="hero_area">
        <!-- Navigation-->
        <%- include('./_layouts/navigation') %>
    </div>

    <section class=" layout_padding main">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Cart
                </h2>
            </div>
            <div>
                <% if (cart == null) { %>
                <h3 class="text-center">Your cart is empty</h3>
                <% } else { %>
                <table class="table table-striped table-borderless align-middle">

                    <thead class="table-dark">
                        <tr class="row">
                            <th class="col-7">Item</th>
                            <th class="col-1">Price</th>
                            <th class="col-1">Quantity</th>
                            <th class="col-2"></th>
                            <th class="col-1">Subtotal</th>
                        </tr>
                    </thead>

                    <% 
        let total = 0;
        cart.forEach(product => { 
        let subtotal = parseFloat(product.quantity * product.price); 
        total += subtotal;
        %>
                    <tbody>
                        <tr class="row">
                            <td class="col-7"><%= product.title %> (<%= product.foodID %>)</td>
                            <td class="col-1">$<%= parseFloat(product.price).toFixed(2) %></td>
                            <td class="col-1 text-center"><%= product.quantity %></td>
                            <td class="col-2 text-center">
                                <a href="/cart/update/<%= product.title %>?action=add">+</a>&nbsp;
                                <a href="/cart/update/<%= product.title %>?action=remove">-</a>&nbsp;
                                <a href="/cart/update/<%= product.title %>?action=clear">Clear</a>&nbsp;
                            </td>
                            <td class="col-1 text-end">$<%= parseFloat(subtotal).toFixed(2) %></td>
                        </tr>

                        <%})%>
                    </tbody>
                    <tfoot class="">
                        <tr class="row">
                            <td class="col-11 fw-bold" align="right">Subtotal:</td>
                            <td class="col-1" align="right"> $<%= parseFloat(total).toFixed(2) %></td>
                        </tr>
                        <tr class="row">
                            <td class="col-11 fw-bold" align="right">Sales Tax (<%= (taxrate*100).toFixed(3) %>%) :</td>
                            <td class="col-1" align="right">
                                $<%= parseFloat(total*taxrate).toFixed(2) %></td>
                        </tr>
                        <tr class="row border-bottom">
                            <td class="col-11 fw-bold" align="right">Total:</td>
                            <td class="col-1" align="right"> $<%= parseFloat(total*(1+taxrate)).toFixed(2) %></td>
                        </tr>
                        <tr>
                            <td class="col-12" align="right">I agree with the terms and conditions and privacy policy.
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-10" align="right"> <a href="/cart/clear"
                                    class="btn btn-danger clearCart">Clear
                                    cart</a>
                            </td>
                            <td class="col-2" align="right"> <a href="/cart/checkout"
                                    class="btn btn-primary buynow ">Buy Now</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <% } %>
            </div>

        </div>
    </section>
    <%- include('./_layouts/footer') %>